// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header{
    .card-title{
        float: left;
    }
    .card-tools{
        float: right;
    }
}
.card-header::after{
    display: block;
    clear: both;
    content: "";
}
.product{
    img{
        margin-top:2rem!important;
    }
    .card-title,.card-text{
        margin-bottom: 0!important;
    }
}

.card-comments img, .card-comment img {
    height: 1.875rem;
    width: 1.875rem;
    float: left;
    max-width: 30px;
}
.img-circle {
    border-radius: 50%;
}
.card-comments, .comment-text {
    color: #555555;
    margin-left: 40px;
}
.card-comments, .username {
    color: #333333;
    display: block;
    font-weight: 600;
}
.card-comments, .text-muted {
    font-size: 12px;
    font-weight: 400;
}
.comment-text{
    padding:5px;
    background-color: #c1c1c1;
}

